<div class="control-device d-none " id="pannelColor">
    <div class="control-hrader">
        <h4>Jacket Color</h4>
        <a href="#" class="action-close-panel">
            <svg xmlns="http://www.w3.org/2000/svg" width="18.5" height="18.5" viewBox="0 0 15.218 15.218">
                <g id="Group_88" data-name="Group 88" transform="translate(-368.233 -176.239) rotate(-45)">
                    <line id="Line_12" data-name="Line 12" y2="20.522" transform="translate(135.761 385.5)" fill="none"
                        stroke="#000" stroke-width="2"></line>
                    <line id="Line_13" data-name="Line 13" y2="20.522" transform="translate(146.022 395.761) rotate(90)" fill="none"
                        stroke="#000" stroke-width="2"></line>
                </g>
            </svg>
        </a>
    </div>
    <div class="control-blet d-flex justify-content-between">
        <a href="#" class="item-control">
            <img src="./image/thumb-sides/front.jpg" alt="">
            <span class="d-block">Body</span>
        </a>
        <a href="#" class="item-control">
            <img src="./image/thumb-sides/right.jpg" alt="">
            <span class="d-block">Sleev</span>
        </a>
        <a href="#" class="item-control">
            <img src="./image/thumb-sides/back.jpg" alt="">
            <span class="d-block">Rape</span>
        </a>
        <a href="#" class="item-control">
            <img src="./image/thumb-sides/left.jpg" alt="">
            <span class="d-block">Button</span>
        </a>
        <a href="#" class="item-control">
            <img src="./image/thumb-sides/left.jpg" alt="">
            <span class="d-block">Pocket</span>
        </a>
    </div>
    <div class="control-body color-controlers">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#ffffff"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#f6f6dc"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#041d0a"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#71258c"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#f6619d"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#cc3366"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#33cc00"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#ffbb00"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#f30a0a"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#a81818"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#7d0505"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#00bfe2"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#7baad9"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#1d52ca"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#010000"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#1d4b7a"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#031933"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#585858"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#010101"></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="color-item" data-color="#969696"></a>
            </li>
        </ul>
    </div>
</div>

<div class="control-device d-none " id="pannelText">
    <div class="control-hrader">
        <h4>Add Text</h4>
        <a href="#" class="action-close-panel">
            <svg xmlns="http://www.w3.org/2000/svg" width="18.5" height="18.5" viewBox="0 0 15.218 15.218">
                <g id="Group_88" data-name="Group 88" transform="translate(-368.233 -176.239) rotate(-45)">
                    <line id="Line_12" data-name="Line 12" y2="20.522" transform="translate(135.761 385.5)" fill="none"
                        stroke="#000" stroke-width="2"></line>
                    <line id="Line_13" data-name="Line 13" y2="20.522" transform="translate(146.022 395.761) rotate(90)"
                        fill="none" stroke="#000" stroke-width="2"></line>
                </g>
            </svg>
        </a>
    </div>
    <div class="control-body">
        <form>
            <input type="text" class="form-control mb-3 d-block w-100" placeholder="Type Yout Text">
            <a href="#" class="btn btn-lg d-block btn-dark">Add To Design</a>
        </form>
    </div>
</div>

<div class="control-device d-none " id="pannelAddArt">
    <div class="control-hrader">
        <h4>Artwork Categories</h4>
        <a href="#" class="action-close-panel">
            <svg xmlns="http://www.w3.org/2000/svg" width="18.5" height="18.5" viewBox="0 0 15.218 15.218">
                <g id="Group_88" data-name="Group 88" transform="translate(-368.233 -176.239) rotate(-45)">
                    <line id="Line_12" data-name="Line 12" y2="20.522" transform="translate(135.761 385.5)" fill="none"
                        stroke="#000" stroke-width="2"></line>
                    <line id="Line_13" data-name="Line 13" y2="20.522" transform="translate(146.022 395.761) rotate(90)"
                        fill="none" stroke="#000" stroke-width="2"></line>
                </g>
            </svg>
        </a>
    </div>
    <div class="control-body">
       <div class="row image-art-categorys">
            <div class="col-6">
                <div class="card-image Flags">
                    <img src="" />
                    <p class="m-0">Flags</p>
                </div>
            </div>
            <div class="col-6">
                <div class="card-image Sport">
                    <img src="" />
                    <p class="m-0">Sport</p>
                </div>
            </div>
            <div class="col-6">
                <div class="card-image Vehicles">
                    <img src="" />
                    <p class="m-0">Vehicles</p>
                </div>
            </div>
            <div class="col-6">
                <div class="card-image Characters2">
                    <img src="" />
                    <p class="m-0">Characters2</p>
                </div>
            </div>
       </div>
    </div>
</div>