<div class="col-6 col-md-5 col-lg-4">
  <!-- start card fliper -->
  <div class="card-flip">
    <div class="flip">
      <!-- start front card -->
      <div class="front">
        <div class="card bg-dark product-card">
          <div class="card-img-top text-centerboo">
            <img
              src="./image/products/hoodies.png"
              alt="Varsity Jacket"
              class="mx-auto w-100 p-4"
              style="background: black"
            />

            <!-- card overlay -->
            <div
              class="d-flex align-items-center card-overlay animated fadeIn faster"
            >
              <div
                class="flex-fill px-5 btn-container animated bounceInUp fast"
              >
                <a
                  href="#"
                  class="btn btn-outline-light btn-lg d-block mb-3 viewDetails"
                >
                  <i class="icon icon-eye-solid"></i>
                  <span class="d-none d-md-block">view details</span>
                </a>
                <a href="#" class="btn btn-primary btn-lg d-block VJ">
                  <i class="icon icon-plus-circle-solid"></i>
                  <span class="d-none d-md-block">choose product</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <h5 class="mb-1 text-primary text-center product-title">
              Sweatshirt
            </h5>
            <p class="card-text text-center d-none d-md-block">
              Stay warm but look cool with custom-designed school sweatshirts
              made at Barcode
            </p>
          </div>
        </div>
      </div>
      <!-- end front card-->
      <!-- start back card "view details" -->
      <div class="back">
        <div class="card bg-dark">
          <div class="card-body">
            <a href="#" class="close-flip">
              <i class="icon icon-close"></i>
            </a>
            <h5 class="card-title border-title">Sweatshirt</h5>
            <p class="card-text mb-3">
              You can make the perfect sweatshirt with your school logo on it,
              or you can browse the thousands of school-related images in our
              design catalog.
            </p>

            <p class="text-info mb-1">View Product</p>

            <div
              id="SweatShirtGallery"
              class="row no-gutters mb-3 light-gellary"
            >
              <div class="col pr-1" data-src="./image/products/trik.jpg">
                <a href="">
                  <img src="./image/products/trik.jpg" />
                </a>
              </div>
              <div class="col pr-1" data-src="./image/products/trik.jpg">
                <a href="">
                  <img src="./image/products/trik.jpg" />
                </a>
              </div>
              <div class="col pr-1" data-src="./image/products/trik.jpg">
                <a href="">
                  <img src="./image/products/trik.jpg" />
                </a>
              </div>
              <div class="col pr-1" data-src="./image/products/trik.jpg">
                <a href="">
                  <img src="./image/products/trik.jpg" />
                </a>
              </div>
            </div>

            <a href="#" class="btn btn-primary btn-lg btn-block VJ"
              >chose product</a
            >
          </div>
        </div>
      </div>
      <!-- end back card -->
    </div>
  </div>
  <!-- end card fliper -->
</div>
