$icomoon-font-family: "BarcodeJackets" !default;
$icomoon-font-path: "./" !default;

$icon-copy: "\e900";
$icon-logo: "\e901";
$icon-facebook: "\e902";
$icon-Instagram: "\e903";
$icon-twitter: "\e904";
$icon-Whatsapp: "\e905";
$icon-snapchat: "\e906";
$icon-currency-ex: "\e907";
$icon-shopping-bag: "\e908";
$icon-home: "\e909";
$icon-language: "\e90a";
$icon-angle-down: "\e90b";
$icon-angle-left: "\e90c";
$icon-angle-right: "\e90d";
$icon-angle-up: "\e90e";
$icon-delete: "\e90f";
$icon-cog: "\e910";
$icon-tinder: "\e911";
$icon-globe-solid: "\e912";
$icon-equalizer: "\e913";
$icon-camera: "\e914";
$icon-pictures: "\e915";
$icon-arrow-down: "\e916";
$icon-arrow-left: "\e917";
$icon-watch_later: "\e918";
$icon-arrow-right: "\e919";
$icon-arrow-up: "\e91a";
$icon-crop: "\e91b";
$icon-file-pdf: "\e91c";
$icon-file-text: "\e91d";
$icon-file-word: "\e91e";
$icon-feed: "\e91f";
$icon-history: "\e920";
$icon-save-solid: "\e921";
$icon-plus: "\e922";
$icon-minus: "\e923";
$icon-stack: "\e924";
$icon-barcode: "\e925";
$icon-qrcode: "\e926";
$icon-amazon: "\e927";
$icon-close: "\e928";
$icon-bookmark-solid: "\e929";
$icon-edit: "\e92a";
$icon-question: "\e92b";
$icon-info: "\e92c";
$icon-exclamation-triangle: "\e92d";
$icon-floppy-o: "\e92e";
$icon-jacket: "\e92f";
$icon-time: "\e930";
$icon-tippes: "\e931";
$icon-cookie-bite-solid: "\e932";
$icon-book-solid: "\e933";
$icon-star-solid: "\e934";
$icon-play-solid: "\e935";
$icon-play-circle-solid: "\e936";
$icon-map-marker-alt-solid: "\e937";
$icon-heart-solid: "\e938";
$icon-thumbs-up-solid: "\e939";
$icon-teamspeak-brands: "\e93a";
$icon-eye-solid: "\e93b";
$icon-plus-circle-solid: "\e93c";
$icon-youtube-play: "\e93d";
$icon-c12df795cf59d4fc5a34028d11c0ed5: "\e93e";
$icon-SaveClose-595b40b75ba036ed117d8ec5: "\e93f";
$icon-graphic-design-svgrepo-com: "\e940";
$icon-jacket1: "\e941";
$icon-paper-plane: "\e942";
$icon-phone: "\e943";